h1 {
    color: white;
    font-size: 75pt;
}

p {
    color: gray;
    font-size: 40pt;
}

progress {
    width: 100%;
    height: 30px;
}

body {
    background-color: black;
    font-family: helvetica;
}

.hidden {
    display: none;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.red {
    color: red;
}

.nearly {
    font-style: italic;
    color: yellow;
}